@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



/* styles/globals.css */
@font-face {
  font-family: 'ArabicUIDisplayBlack';
  src: url('/app/fonts/ArabicUIDisplayBlack.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
